body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4em;
    background: #FFF;
    color: #444;
}

$orange: #E74E30;

h1 { font-size: 2em; margin:  0 }
h2 { font-size: 1.5em; margin: 0; padding-bottom: 2em }
h3 { font-size: 1.17em; margin: 0; line-height: 1.1em;}
h5 { font-size: .83em; margin: 0}
h6 { font-size: .75em; margin: 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder;
	text-align: center;
}

p {
	max-width: 85%;
	margin: 0 auto;
	padding-bottom: 1.75em;
  font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1.4em;
	
}

a {
   color: #E74E30;
  text-decoration: none;
}

li {
	list-style: none;
}

.hero-wrap {
	position: relative;
	min-height: 95vh;
	
}
.rau-tag {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	font-size: 4em;
	color: #222222;
	text-align: center;
}

.orange {
	color: $orange;
}

#rau-holder {
	font-size: 5em;
//  height: 95vh;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
//  border: 1px solid gray;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 5em;
	line-height: 1.4em;
}

@media screen and (max-width: 650px) {
	#rau-holder {
	 font-size: 3em;
	}
}
