.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 7vh;
	padding-bottom: 1em;
}

.header-nav li:first-child {
//  margin-left: 3em;

}

.header-nav li:last-child {
//  margin-right: 3em;
}

.header-nav li {
	padding-top: 1em;
	text-transform: uppercase;
	color: $orange;
}